{{> header}}
{{#if success}}
<div class="info-message">
    <p class="success"><strong>Success!</strong> Your post has been scheduled. You can see all <a href="/promoted/upcoming">upcoming promoted posts</a> here.</p>
</div>
{{/if}}

<div class="posts">
    {{> item post type="promoted" basePath="/promoted/" isDetail=true user=@root.user}}
    {{> comment-section}}
</div>
{{> footer}}
