{{> header}}
<h1>Remove Promoted Post</h1>
<p>You are about to remove your promoted post: <strong>{{post.title}}</strong></p>

<form action="/promoted/item/{{post.id}}/remove" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" class="primary-button">Confirm Remove</button>
</form>

<div class="back-link">
    <a href="/promoted/item/{{post.id}}">← back to promoted post</a>
</div>

{{> footer}}
