{{> header}}
<h2>Register</h2>
{{#if error}}
<div class="error">
    {{error}}
</div>
{{/if}}
<form action="/auth/register" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div>
        <label for="username">username:</label>
        <input type="text" id="username" name="username" value="{{username}}" minlength="3" maxlength="24" pattern="^[a-zA-Z0-9_]+$" title="Username must be 3-24 characters long and contain only letters, numbers, and underscores." required>
    </div>
    <div>
        <label for="password">password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="email">email (optional, used for password reset):</label>
        <input type="email" id="email" name="email" value="{{email}}">
    </div>
    <button class="primary-button" type="submit">create account</button>
</form>
<p class="user-switch">Have an account? <a href="/auth/login">login</a></p>
{{> footer}}