</main>
<footer>
    <hr>
    <div class="footer-content">
        <p>(Video) Game Design & Development News</p>
        <div class="links">
            <ul class="inline-list">
                <li><a href="/about">about</a></li>
                <li><a href="/guidelines">guidelines</a></li>
                <li><a href="/legal">legal</a></li>
                <li><a href="mailto:contact@gdnews.org">contact</a></li>
            </ul>
        </div>
    </div>
</footer>
</div>
</body>

</html>