<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if title}}{{title}} | {{/if}}gdnews</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐉</text></svg>">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <div class="links">
                    <ul class="inline-list">
                        <li><div title="Home" class="logo">🐉 <a href="/">gdnews</a></div></li>
                        <li><a href="/new">newest</a></li>
                        <li><a href="/upcoming">upcoming</a></li>
                        <li><a href="/jobs">jobs</a></li>
                    </ul>
                </div>
                <div class="auth">
                    <ul class="inline-list">
                        <li><a href="/submit">submit</a></li>
                        {{#if user}}
                        <li><a href="/user?id={{user.username}}">{{user.username}}</a></li>
                        {{else}}
                        <li><a href="/login">login</a></li>
                        {{/if}}
                    </ul>
                </div>
            </nav>
        </header>
        <main>