<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if title}}{{title}} | {{/if}}gdnews</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <div title="Home" class="logo"><a href="/">gdnews</a></div>
                <div class="links">
                    <a href="/new">newest</a>
                </div>
                <div class="auth">
                    <a href="/submit">submit</a>
                    {{#if user}}
                    <span class="user-link"><a href="/user?id={{user.username}}">
                            {{user.username}}
                        </a></span>
                    {{else}}
                    <a href="/login">login</a>
                    {{/if}}
                </div>
            </nav>
        </header>
        <main>