<div class="posts">
    {{#each items}}
        {{> item this type=../type basePath=../basePath user=@root.user}}
        {{#if (isPostSeparator @index)}}<hr>{{/if}}
    {{/each}}
    {{#if (eq items.length 0)}}
        <p>{{emptyMessage}}</p>
    {{/if}}
</div>

{{#if nextPageUrl}}
<div class="more-link">
    <a href="{{nextPageUrl}}">load more</a>
</div>
{{/if}}
