<div>
    <label for="title">title:</label>
    <input type="text" id="title" name="title" required value="{{title}}">
</div>
<div>
    <label for="url">url (optional):</label>
    <input type="url" id="url" name="url" value="{{url}}">
</div>
<div>
    <label for="text">text (optional):</label>
    <textarea id="text" name="text" rows="4" cols="50">{{text}}</textarea>
</div>
