# Dependencies
node_modules/

# Environment variables
.env.production
.env.development

# Keys
*.pem
public.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific
.DS_Store

# Editor specific
.vscode/

# Testing
coverage/

# Configuration
gdnews.config

setup_production_db.sql