NODE_ENV=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
APP_DOMAIN=
APP_PROTOCOL=
SESSION_SECRET=
STRIPE_SECRET_KEY=
BATCH_UPLOAD_PUBLIC_KEY=<loaded from public.pem>

# Email Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=