{{> header}}
<div class="split-view">
    <div class="main-content">
        <form class="submit-form" action="/post/item/{{post.id}}/modify" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="form-header">
                <h3>Modify Post</h3>
            </div>
            
            {{#if error}}
            <div class="error-message">{{error}}</div>
            {{/if}}

            {{> submit-form-fields}}

            <div class="form-actions">
                <button type="submit" class="primary-button">update</button>
            </div>
        </form>
    </div>
</div>
{{> footer}}