{{> header}}
<h2>Submit</h2>
<form action="/post/submit" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{> submit-form-fields descriptionRequired=false}}
    <p>Leave url blank to submit a question for discussion.</p>
    {{#if error}}
    <div class="error-message">
        {{error}}
    </div>
    {{/if}}
    <button class="primary-button" type="submit">submit</button>
</form>
{{> footer}}