/* Variables */
@color-dark-font: #011205;
@color-light-font: #7b8b7e;
@color-dark-background: #18311d;
@color-light-background: #e9f0eb;
@color-highlight-border: #bcd6c1;
@color-white: #ffffff;
@color-error: #ff0000;

@spacing-xs: 2px;
@spacing-sm: 5px;
@spacing-md: 10px;
@spacing-lg: 20px;
@spacing-xl: 30px;

@font-size-base: 1rem;
@font-size-sm: 0.875rem;
@font-size-xs: 0.75rem;

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: @font-size-sm;
    color: @color-dark-font;
    background-color: @color-white;
    margin: 0;
}

.container {
    width: 85%;
    max-width: 960px;
    margin: 0 auto;
    background-color: @color-light-background;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: @color-dark-font;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: @color-dark-background;
    padding: @spacing-xs;
    // border-bottom: 1px solid #000;
}

nav {
    display: flex;
    align-items: center;
    font-size: @font-size-sm;
    color: @color-white;
    line-height: 1.1rem;
    padding: @spacing-sm @spacing-md;
}

.logo a {
    font-weight: bold;
    margin-right: 15px;
    color: @color-white;
    font-size: @font-size-base;
}

.links a {
    margin-right: @spacing-md;
    color: @color-white;
}

.auth a {
    margin-left: @spacing-md;
    color: @color-white;
}

.auth {
    margin-left: auto;
}


main {
    padding: @spacing-md @spacing-md;
    background-color: @color-light-background;
    flex: 1;
}

.more-link a {
    color: @color-light-font;
}

.more-link a:hover {
    text-decoration: underline;
    color: @color-dark-font;
}

footer {
    padding: 0 @spacing-md;
    font-size: @font-size-xs;
    color: @color-light-font;
}


hr {
    border: none;
    height: 1px;
    color: @color-light-font;
    background-color: @color-light-font;
}

.post {
    margin-bottom: 8px;
    /* Special spacing */
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.post-title {
    font-size: @font-size-base;
    color: @color-dark-font;
}

.post-title a {
    color: @color-dark-font;
}

.post-title a:visited {
    color: @color-light-font;
}

.domain {
    font-size: @font-size-xs;
    color: @color-light-font;
    margin-left: @spacing-sm;
}

.post-meta {
    font-size: @font-size-xs;
    color: @color-light-font;
    width: 100%;
    margin-left: 0;
    margin-top: @spacing-xs;
    margin-bottom: @spacing-xs;
    padding-left: 0;
}

.post-meta a {
    color: @color-light-font;
}

.post-meta a:hover {
    text-decoration: underline;
    color: @color-dark-font;
}

.post-content {
    margin-top: @spacing-xs;
    font-size: @font-size-sm;
    color: @color-dark-font;
    margin-bottom: @spacing-xs;
    max-width: 60ch;
    white-space: pre-line;
    word-wrap: break-word;
}

/* Form styles */
form div {
    margin-bottom: @spacing-md;
}

label {
    display: block;
    width: auto;
    margin-bottom: @spacing-sm;
    color: @color-dark-font;
}

input[type="text"],
input[type="password"],
input[type="url"],
textarea {
    background-color: @color-white;
    border: 1px solid @color-highlight-border;
    color: @color-dark-font;
    padding: @spacing-sm;
}

button {
    background-color: #f0f0f0;
    color: @color-dark-font;
    border: 1px solid @color-highlight-border;
    padding: @spacing-sm @spacing-md;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}

.error {
    color: @color-error;
}

/* Comment styles */
.comments {
    margin-top: @spacing-lg;
}

.comment {
    margin-top: @spacing-md;
    margin-bottom: @spacing-md;
}

.comment .comment {
    margin-left: @spacing-lg;
}

.comment a {
    color: @color-light-font;
}

.meta-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    color: @color-light-font;
    font-size: @font-size-xs;
}

.meta-list li {
    display: flex;
    align-items: center;
}

.comment-content {
    font-size: @font-size-sm;
    color: @color-dark-font;
    margin-top: @spacing-xs;
    margin-bottom: @spacing-sm;
    max-width: 60ch;
    white-space: pre-line;
    word-wrap: break-word;
}

.comment-meta button {
    background: none;
    border: none;
    color: @color-light-font;
    text-decoration: none;
    font-style: italic;
    cursor: pointer;
    padding: 0;
    font-size: @font-size-xs;
}

.comment-meta button:hover {
    text-decoration: underline;
    color: @color-dark-font;
}

.show-more {
    margin-top: @spacing-sm;
    margin-bottom: @spacing-md;
}

.show-more>button {
    background: none;
    border: none;
    color: @color-light-font;
    cursor: pointer;
    font-size: @font-size-xs;
    padding: 0;
    text-decoration: none;
    font-style: italic;
    margin-left: @spacing-lg;
}

.show-more>button:hover {
    text-decoration: underline;
    color: @color-dark-font;
}

.user-switch a {
    color: @color-light-font;
    padding: 0;
    text-decoration: none;
    font-style: italic;
}

.user-switch a:hover {
    text-decoration: underline;
    color: @color-dark-font;
}

.user-header {
    display: flex;
    align-items: baseline;
    gap: @spacing-lg;
}

.user-actions {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    color: @color-light-font;
    font-size: @font-size-sm;
}

.user-actions li {
    display: flex;
    align-items: center;
}

.user-actions a {
    color: @color-light-font;
}

.user-actions a:hover {
    color: @color-dark-font;
    text-decoration: underline;
}

h3 {
    margin-top: @spacing-xl;
}

// Error Page
.error-container {
    text-align: center;
    padding: @spacing-lg;
    margin-top: @spacing-lg * 2;

    h1 {
        font-size: 4rem;
        color: inherit;
        margin-bottom: @spacing-md;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: @spacing-lg;
        color: #828282;
    }
}