{{> header}}
<h1>About gdnews</h1>
<p>
    gdnews is a community-driven news aggregator dedicated to Video Game Design and Development. 
    Our mission is to surface the best articles, tutorials, and discussions from around the web to help developers create better games.
</p>
<p>
    Create an account to submit stories, vote on content, and participate in discussions.
</p>
{{> footer}}
