{{> header}}
<h2>Schedule promoted post</h2>
<form action="/buy-promoted" method="POST">
    {{> submit-form-fields}}
    <div>
        <label for="promoted_date">date:</label>
        <input type="date" name="promoted_date" id="promoted_date" required min="{{minDate}}">
    </div>
    {{#if error}}
    <div class="error-message">
        {{error}}
    </div>
    {{/if}}
    <button class="primary-button" type="submit">schedule promoted post</button>
</form>
{{> footer}}
