{{> header}}

<div class="form-container">
    <h2>Change Email</h2>
    {{#if error}}
    <div class="error">
        {{error}}
    </div>
    {{/if}}
    <form action="/change-email" method="POST">
        <div class="form-group">
            <label for="email">New Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">Update Email</button>
    </form>
</div>

{{> footer}}