{{> header}}
<div class="info-message">
    <p>This page lists distinct job opportunities.</p>
    <p><a class="text-button" href="/submit-job">Click here to post a new job</a>.</p>
</div>

{{> list items=posts type="job" basePath="/job/" emptyMessage="No jobs available at the moment." nextPageUrl=nextPageUrl}}
{{> footer}}
