{{> header}}
<div class="posts">
    {{> item post type="post" basePath="/item/" isDetail=true user=@root.user isFavorited=@root.isFavorited}}

    <div class="comment-form">
        <form action="/item/{{post.id}}/comment" method="POST">
            <textarea name="content" rows="4" cols="50" required></textarea><br>
            <button class="primary-button" type="submit">add comment</button>
        </form>
    </div>

    <div class="comments">
        <script src="/js/item.js" defer></script>
        {{#each comments}}
        {{> comment this depth=0 maxDepth=2}}
        {{/each}}
    </div>
</div>
{{> footer}}