{{> header}}
<h2>Submit</h2>
<form action="/submit" method="POST">
    {{> submit-form-fields}}
    <p>Leave url blank to submit a question for discussion.</p>
    {{#if error}}
    <div class="error-message">
        {{error}}
    </div>
    {{/if}}
    <button class="primary-button" type="submit">submit</button>
</form>
{{> footer}}