{{> header}}
<div class="info-message">
    <p>This page lists all upcoming promoted posts.</p>
    <p><a class="text-button" href="/promoted/schedule">Click here to schedule a promoted post</a> to secure the top spot of the home page for a whole day.</p>
</div>

{{> list items=posts type="promoted" basePath="/promoted/item/" emptyMessage="No upcoming promoted post scheduled." nextPageUrl=nextPageUrl}}
{{> footer}}
