{{> header}}
<div class="info-message">
    <p>This page lists distinct job offers.</p>
    <p><a class="text-button" href="/job/submit">Click here to post a new job</a>.</p>
</div>

{{> list items=posts type="job" basePath="/job/item/" emptyMessage="No jobs available at the moment." nextPageUrl=nextPageUrl}}
{{> footer}}
