{{> header}}
<h2>New job offer</h2>
<form action="/job/submit" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{> submit-form-fields descriptionRequired=true}}
    
    {{#if error}}
    <div class="error-message">
        {{error}}
    </div>
    {{/if}}
    <p>
        Submitting (and removing) a job offer is free. If you had a successful hire through gdnews, we ask you to pay <strong>€100</strong>.
    </p>
    <p>
        Contact <a href="mailto:support@gdnews.org" class="text-button">support@gdnews.org</a> if needed.
    </p>
    <button class="primary-button" type="submit">submit job</button>
</form>
{{> footer}}
